.navbar{
    background: #0000FF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    box-shadow: 0px 8px 16px rgba(34, 33, 33, 0.603);
}
/*.nav-item{
    text-transform: uppercase;
}*/
.nav-item:hover{
    color: #377DFF !important;
    transition: 1s ease;
}

header{
    width: 100%;
    min-height: 95vh;
}
/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  min-height: 80vh;
  background-color: #003d4d;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerHeader{
    width: 80%;
    position: absolute;
    margin: 0 auto;
}
@media(max-height:400px){
    header, #headerDiv, #particles-js{
        height: 100vh;
    }
}
@media(max-width:375px){
    header, #headerDiv, #particles-js{
        min-height: 100vh;
    }

}
.contactTelegram{
    border-radius: 30px;
	padding: 0.5 rem 0.5 rem;
    font-weight: 1000;
	font-size: 5 px;
	color: #00bfff;
    text-decoration: none;
    letter-spacing: 2px;
    position: fixed;
    bottom: 35px;
    right: 35px;
    transition: 0.5s ease;
    z-index: 11;
}
.contactTelegram:hover{
    color: #377DFF;
}
.border-left{
    border-left: 3px solid #377DFF;
    padding-left: 30px;	
}

.border-left h1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;	
}

@media(max-width:510px){
    .border-left h1{
        font-size: 30px;
    }
}
section{
    margin: 5% 0px;
}
#Uslub{
    width: 32%;
    margin: 0 auto;
    border-left: 3px solid #377DFF;
}
.UslubH1{
    margin-left: 10px;
}
#text{
    border-left: 3px solid #377DFF;
    text-align: center;
    margin: 3% auto;
    max-width: 25%;
    padding-left: 5px;
	
}
.modelHome{
    position: absolute;
    max-width: 1000px;
    top: 200px;
    right: 25%;
    background-color: #657991;
    padding: 2%;
}

#sectionTwo{
    background-color: #233142;
    padding: 8%;
}
.col-sm-10.my-auto h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.col-sm-10 p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
#boy{
    width: 100%;
    height: 487px;
    overflow: hidden;
}
#boy:hover #boyFooter{
    transform: translateY(430px);
    transition: 1s ease;
}
#boyFooter{
    transition: 1s ease;
    background: #377DFF;
    opacity: 0.9;
    border-radius: 0px;
    text-align: center;
    padding: 4%;
    width: 100%;
    transform: translateY(-400px);
}
.three{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #141D28;
    margin-top: 10%;
}
#bizM{
    padding: 5%;
}
@media(max-width:960px){
    #bizM{
        padding: 2%;
    }
}
.col-lg-4 h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#one{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 1px;
    border-left: 3px solid #377DFF;
    padding-left: 10px;
    margin-top: 8%;
}
.bir{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #141D28;
    background: #FFFFFF;
    border-radius: 0px;
    border: 3px solid #377DFF;
    padding: 15px 15px;
    width: 180px;
    margin-top: 2%;
}
#Sabablar{
    background-image: url('Photo/ofis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    min-height: 160vh;
}
#Reasons{
    background-image: url('Photo/ofis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    min-height: 160vh;
}
#Причины{
    background-image: url('Photo/ofis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    min-height: 160vh;
}
#opacity{
    background-color: #F7F7F7;
    opacity: 0.9;
    width: 100%;
    min-height: 160vh;
    display: flex;
    align-items: center;
}
#woman{
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}
#woman:hover #womanWoman{
    transform: translateY(0px);
    cursor: pointer;
}
#womanWoman{
    transition: 0.4s ease;
    background: rgba(18, 27, 38, 0.73);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #377DFF;
    box-sizing: border-box;
    transform: translateY(-360px);
    

}
#few{
    border-left: 3px solid #377DFF;
    padding-left: 30px;
    margin: 10% 0px;
}
#few h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #233142;
}
#few h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #233142;
}
@media(max-width:500px) {
    #few h3, #few h5{
        font-size: 30px;
    }
}
#few p{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #5C6F87;
}
.col-lg-6 h2{
    margin: 5% 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #657991;
}

.plyus{
    background: transparent;
    color: #377DFF;
    font-size: 4rem;
    margin: auto;
    border: none;

}
#our{
    width: 54%;
    margin: auto;
}
#our h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    text-align: start;
    letter-spacing: 1px;
    color: #141D28;
    width: 100%;
}
@media(max-width:350px){
    #our h2{
        font-size: 30px;
    }
    .row #news{
        margin-left: 1px !important;
    }
}
.text-center.mt-5 p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #4E5E72;
    
}
.text-center.mt-5 h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #141D28;
    margin-top: 5%;

}
.text-center.mt-5 #marker{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4E5E72;
}
#sectionSeven{
    background: rgb(35, 49, 66);
    min-height: 70vh;
}
#newEra{
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*#pen{
    background: url('Photo/Smart Tech/smarttek_1.png') no-repeat center center/cover;
}*/
.col-lg-6 h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 1px;
    color: #FFFFFF;
   
}
.col-lg-6 h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 69px;
    letter-spacing: 1px;
    color: #377DFF;
    margin-top: 5%;
}
.col-lg-6 #lorem{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 10%;
}
@media(max-width:540px) {
    #Kash, #Yang{
        font-size: 30px;
        line-height: 30px;
    }
}
.row #news{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1px;
    color: #141D28;
    margin-bottom: 5%;
    border-left: 3px solid #377DFF;
    width: 40%;
    margin: 2% auto;
    padding-left: 5px;
}
@media(max-width:770px){
    .row #news{
        /* margin: 2% 0px; */
        text-align: start;
    }
}
#ochki{
    background: url('SMART-TECH/SMART-TECH/Web_Service.jpg') no-repeat center center/cover;
    width: 100%;
    min-height: 44vh;
    overflow: hidden;
}
#videoOne{
    display: none;
    width: 100%;
    min-height: 44vh;   
}
#ochkiTagi{
    width: 100%;
    padding: 5%;

}
#ochkiTagi h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #141D28;
}
#ochkiTagi p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #5C6F87;
    text-align: justify;
}
#ochkiTagi #date{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #5C6F87;
}
#ochkiTagi #dateBir{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #5C6F87;
}
#cofe{
    background: url('SMART-TECH/SMART-TECH/TelegramBot.png') no-repeat center center/cover;
    width: 100%;
    height: 25vh;
    overflow: hidden;
}
#videoTwo{
    display: none;
    width: 100%;
    height: 25vh;
}
#cofeTagi{
    width: 100%;
    padding: 8%;
    background: #141D28;
}
#cofeTagi p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
#cofeTagi #date, #cofeTagi #dateBir{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #5C6F87;
}
#soat{
    background: url('Photo/soat.jpg') no-repeat center center/cover;
    width: 100%;
    height: 25vh;
    margin-top: 5%;
    overflow: hidden;
}
#videoThree{
    display: none;
    width: 100%;
    height: 25vh;
}
#soatTagi{
    width: 100%;
    padding: 8%;
    background: #141D28;
}
#soatTagi p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
#soatTagi #date, #soatTagi #dateBir{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #5C6F87;
}
#ochki:hover #software{
    transform: translateY(20px);
}
#soat:hover #softwareTwo{
    transform: translateY(20px);
}
#cofe:hover #softwareOne{
    transform: translateY(20px);
}
 #software, #softwareOne, #softwareTwo{
    transition: 0.4s ease;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #377DFF;
    padding: 5px;
    width: 120px;
    text-align: center;
    position: relative;
    left: 20px;
    transform: translateY(-40px);
    cursor: pointer;
}
#aboutUs{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #377DFF;
    padding: 20% 0px 10% 0px;
}
#unolti{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
  
}
#unbesh, #location{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    transition: 0.5s ease;
}
#unbesh:hover{
    color: #377DFF;
    transition: 0.5s ease;
}
#footer{
    min-height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#underfooter{
    background: #233142;
    padding: 30px 0px 20px 0px;
    margin-top: 30px;
}
#copy{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#ceo .contact {
    background: #7dba28;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 2em;
    font-size: 18px;
}
.languagesUl{
    color: #fff;
    padding: 0;
}
.languagesUlLi, .uzb, .eng, .rus{
    list-style-type: none;
}
.languagesUlLi{
    cursor: pointer;
}
.fa{
    margin-left: 15px;
}
.uzbEngRus{
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: -30px;
    background-color: rgba(68, 65, 65, 0.918);
    width: 100px;
    padding: 0;
    text-align: center;
    transition: 0.5s ease;
}
@media(max-width:992px){
    .uzbEngRus{
        margin-top: 8px;
    }
}
.uzb:hover, .eng:hover, .rus:hover{
    background-color: blue;
    cursor: pointer;
    transition: 0.5s ease;
}
.uzbEngRusClose{
    display: block;
	background-color: black;
} 
.uzbA, .engA, .rusA{
    text-decoration: none;
    color: #fff;
	transition: 0.5s ease;
}
.uzb:hover .uzbA, .eng:hover .engA, .rus:hover .rusA{
    color: white;
    transition: 0.5s ease;
}
.telegram{
    margin: 30px 30px 0 0;
    transition: 0.5s ease;
}
.telegram path{
    fill: #fff;
}
.telegramA:hover .telegram{
    transform: scale(2,2);
    transition: 0.5s ease;
}
.telegramA:hover .telegram path{
    fill: #377DFF;
}